
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/developerdocs/*
/public/bundles/*
/public/newimages/*
/public/oldimages/*
/var/
/vendor/
/composer*.*
/migrations/
/tests/
/bin/
*.tar*
*.zip
*.sql
composer*
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
